{% extends "layout.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container">
            Bienvenue
        </div>
    {% else %}
        <div class="container">
           <a class="nav-link" href="{{ path('Login') }}">
            <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Connexion</span>
        </a>
        </div>
    {% endif %}
{% endblock %}