{% extends "layout.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="container">
            Je suis logger
        </div>
    {% else %}
        <div class="container" style="padding-top:12%";>
            <p style="font-weight: bold; font-size:x-large; text-align: center;"> Bienvenue sur l'interface administrateur d' </p>
            <img src="img/logo.png" alt="logo_IDC" class="img-fluid">
        </div>
    {% endif %}
{% endblock %}