
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>SB Admin - Start Bootstrap Template</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body class="bg-dark">
        <div class="container">
            <div class="card card-register mx-auto mt-5">
                <div class="card-header text-center">Entrez votre nouveau mot de passe</div>
                <span id="msg_confirme1"></span>
                <div class="card-body">
                    <form method="POST" id="reset">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label  for="email">Addresse Mail</label>
                                    <input class="form-control"  type="email"  placeholder="Enter email" name="email" id="email" >
                                    <span id="msg_email"></span>
                                </div>
                                <div class="col-md-6">
                                    <label >Mot de Passe</label>
                                    <input class="form-control"  type="password" placeholder="Mot de passe" name="_password" id="password">
                                    <span id="msg_pass"></span>
                                </div>
                                <div class="col-md-6">
                                    <label >Confirmez votre Mot de Passe</label>
                                    <input class="form-control"  type="password" placeholder="Confirmez le mot de passe" name="password2" id="password2">
                                    <span id="msg_pass2"></span>
                                </div>
                            </div>
                        </div>
                        <input class="btn btn-success" type="submit" value="Validez">
                        <span id="msg_confirme"></span>
                        <div class="text-center">
                        <a class="d-block small" href="{{ path('Login') }}">Connexion</a>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
        <script src="js/reset-password.js"></script>
    </body>

</html>

